#im-navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  border-bottom: 1px #043d56 solid;
}
#im-navbar a {
  color: #dfb31b;
  font-size: 13px;
}
#im-navbar #im-navbar-slider {
  z-index: 15;
  position: relative;
  height: 0px;
  overflow: hidden;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox {
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm {
  height: 300px;
  position: relative;
  width: 740px;
  margin: 0 auto;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images {
  width: 370px;
  float: left;
  position: relative;
  height: 300px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images .panel {
  background-color: #fff;
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images .panel .label {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images .panel .label .lt {
  line-height: 25px;
  position: relative;
  top: -12.5px;
  left: -50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 7px;
  color: #ffffff;
  width: 90px;
  text-align: center;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images .selected {
  opacity: 1;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_1 {
  background: url('images/udm.png') no-repeat 0 0 #ffffff;
  height: 53px;
  width: 347px;
  top: 0;
  left: 0;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_1 .label .lt {
  background-color: #862a18;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_2 {
  background: url('images/udm.png') no-repeat -36px -60px #ffffff;
  height: 56px;
  width: 277px;
  top: 58px;
  left: 35px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_2 .label .lt {
  background-color: #865b18;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_3 {
  background: url("images/udm.png") no-repeat scroll -71px -121px #ffffff;
  height: 55px;
  width: 206px;
  top: 119px;
  left: 70px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_3 .label .lt {
  background-color: #868518;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_4 {
  background: url("images/udm.png") no-repeat scroll -106px -181px #ffffff;
  height: 55px;
  width: 137px;
  top: 179px;
  left: 105px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_4 .label .lt {
  background-color: #657346;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_5 {
  background: url("images/udm.png") no-repeat scroll -141px -241px #ffffff;
  height: 57px;
  width: 67px;
  top: 239px;
  left: 140px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images #panel_5 .label .lt {
  background-color: #495568;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_images.clean .panel {
  opacity: 1;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs {
  width: 370px;
  float: left;
  position: relative;
  height: 300px;
  font-size: 10px;
  z-index: 75;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel {
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 260px;
  width: 330px;
  padding: 15px;
  z-index: 20;
  font-size: 1.6em;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel h3 {
  font-weight: bold;
  margin-bottom: 5px;
  color: #043d56;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel p {
  font-size: 0.9em;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel ul {
  list-style: none;
  margin-top: 15px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel ul li {
  margin-bottom: 10px;
  text-align: center;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel ul li a {
  display: block;
  padding: 5px;
  font-size: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #a8bf75;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel ul li a:hover {
  color: #043d56;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel #centerme {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel #centerme .lt {
  position: relative;
  top: -19px;
  left: -45%;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 7px;
  color: #043d56;
  background-color: #e9ecf2;
  font-size: 18px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .panel #centerme .larr {
  width: 0;
  height: 0;
  border-width: 38px;
  border-color: transparent #e9ecf2 transparent transparent;
  border-style: solid;
  position: absolute;
  left: -76px;
  top: -19px;
  overflow: hidden;
  text-indent: 99px;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs .active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs #panel_0 {
  border: 5px dashed #e9ecf2;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs #panel_1 {
  background-color: #FDF6F4;
  border: 5px solid #F5C8BF;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs #panel_2 {
  background-color: #fdfaf4;
  border: 5px solid #f5e0bf;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs #panel_3 {
  background-color: #FDFDF4;
  border: 5px solid #F5F5BF;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs #panel_4 {
  background-color: #FBFCF8;
  border: 5px solid #E5ECD6;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #udm_tabs #panel_5 {
  background-color: #F2F5F6;
  border: 5px solid #B4C5CD;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #what {
  color: #043D56;
  font-size: 12px;
  opacity: 0.6;
  padding: 5px;
  position: absolute;
  left: -100px;
  top: 280px;
  width: 100px;
  z-index: 100;
}
#im-navbar #im-navbar-slider #im-navbar-slidebox #udm #what .q {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-rigtht: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #b5becf;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-right: 5px;
}
#im-navbar #im-navbar-inner {
  width: 940px;
  margin: 0 auto;
  height: 30px;
  z-index: 150;
  position: relative;
}
#im-navbar #im-navbar-inner #im-network {
  float: left;
}
#im-navbar #im-navbar-inner #im-network a {
  line-height: 30px;
  display: block;
  padding: 0 15px;
  background-color: #ffffff;
  color: #043d56;
}
#im-navbar #im-navbar-inner #im-network a:hover {
  background-color: #043d56;
  color: #ffffff;
}
#im-navbar #im-navbar-inner #im-network a.active {
  background-color: #043d56;
  color: #ffffff;
}
#im-navbar #im-navbar-inner #im-sociallinks {
  float: left;
}
#im-navbar #im-navbar-inner #im-sociallinks ul {
  list-style: none;
}
#im-navbar #im-navbar-inner #im-sociallinks ul li {
  display: block;
  float: left;
}
#im-navbar #im-navbar-inner #im-sociallinks ul li .icon {
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -999px;
  margin: 7px 0 0 10px;
}
#im-navbar #im-navbar-inner #im-sociallinks ul li .icn16-rss {
  background: url('images/icons/16/rss.png') no-repeat 0 0 transparent;
}
#im-navbar #im-navbar-inner #im-sociallinks ul li .icn16-fb {
  background: url('images/icons/16/facebook.png') no-repeat 0 0 transparent;
}
#im-navbar #im-navbar-inner #im-sociallinks ul li .icn16-twitter {
  background: url('images/icons/16/twitter.png') no-repeat 0 0 transparent;
}
#im-navbar #im-navbar-inner #im-sitelinks {
  float: right;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list {
  list-style: none;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li {
  float: left;
  position: relative;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown {
  position: relative;
  top: 0;
  z-index: 400;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-header {
  position: relative;
  top: 0px;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-header .menu-title {
  display: block;
  padding: 7px 15px;
  margin: 0;
  color: #043d56;
  font-size: 14px;
  height: 16px;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-header-user .menu-title {
  padding-right: 45px;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-header-user .user_avatar {
  position: absolute;
  top: 4px;
  right: 15px;
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  float: right;
  border: 1px #043d56 solid;
  z-index: 60;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-body {
  display: none;
  min-width: 150px;
  top: 30px;
  right: 0px;
  position: absolute;
  box-shadow: 0 2px 3px rgba(31, 58, 84, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(31, 58, 84, 0.5);
  -webkit-box-shadow: 0 2px 3px rgba(31, 58, 84, 0.5);
  background: #043d56;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-body ul.dd-menu {
  list-style: none;
  margin: 2px 0;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-body ul.dd-menu li {
  float: none;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-body ul.dd-menu li a {
  color: #ffffff;
  line-height: 1.2em;
  padding: 7px 5px;
  display: block;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .dropdown .dd-body ul.dd-menu li a:hover {
  background: #e9ecf2;
  color: #043d56;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .active .dd-header .menu-title {
  z-index: 50;
  display: block;
  position: relative;
  background: #043d56;
  color: #fff;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .active .dd-header-user .user_avatar {
  border: 1px #ffffff solid;
}
#im-navbar #im-navbar-inner #im-sitelinks ul.list li .active .dd-body {
  display: block;
  z-index: 40;
}
